body {
  margin: 0;
  /* font-family: "Poppins" !important; */
  font-family: "Gilroy-Regular" !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9fbfd;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.bold {
  font-weight: 700;
}

/* .bg {
  background: #ff4040;
  min-height: 59.2em;
} */

.custom-card {
  background-color: #ffeded;
  min-height: 55em;
  border-radius: 2em;
  padding: 2.5em 0 3.5em 0;
  box-shadow: 0px 20px 55px 0px #222222;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(./fonts/Gilroy-Bold.woff) format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"), url(./fonts/Gilroy-Regular.woff) format("woff");
}
