.info-block {
  border-radius: 10px;
  color: #fff;
  /* display: flex; */
  height: 100%;
  min-height: 0.3em;
  margin-top: 2em;
  /* width: 70%; */
  padding: 25px;
  /* margin: 1em 0.5em; */
  position: relative;
  /* align-items: flex-start; */
  font-family: "Gilroy-Bold" !important;
}

.address {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.address h5 {
  word-break: break-all;
}

.dai-balance {
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f8b500,
    #fceabb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f8b500,
    #fceabb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pch-balance {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.small {
  font-size: 16px;
}

.info-card {
}
