.left-menu {
  min-height: 51em;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  margin: 2em 0 0 1em;
}

.left-menu h1 {
  font-family: "Gilroy-Bold" !important;
}

.left-menu p {
  font-family: "Gilroy-Regular" !important;
}
